.home-content {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

.home-text {
  padding: 3em 0;
}

.home-nav-section ul {
  display: flex;
  margin: 0;
  list-style-type: none;
}

.home-thumbnail {
  width: 140px;
  height: 140px;
  margin: 0 0.75rem 0.75rem 0;
}
