.nav-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.nav-section {
  width: 150px;
  background: #f8f8f8;
  background: white;
  padding-left: 1.5em;
  /* https://stackoverflow.com/questions/17572619/inset-box-shadow-only-on-one-side */
  box-shadow: -2px 6px 10px 1px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 600px) {
  .nav-section {
    width: 270px;
  }
}

@media only screen and (min-width: 900px) {
  .nav-section {
    width: 320px;
  }
}

.nav-title {
  margin-bottom: 0;
  padding: 0.75em 0 0.75em;
  color: hsla(0, 0%, 0%, 0.8);
  font-size: 0.9em;
}

.nav-container ul {
  list-style-type: none;
  margin: 0 0 0.3em 0;
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  transition: all 0.2s ease-in-out;
  width: 90px;
  height: 90px;
  margin: 0 0.4rem 0.75rem 0;
}

@media only screen and (min-width: 600px) {
  .thumbnail {
    margin: 0 0.4rem 0.75rem 0.4rem;
  }
}

.thumbnail img {
  border-radius: 0.2em;
}

.thumbnail:hover,
.thumbnail:focus,
.thumbnail:active {
  transform: scale(1.1);
}

/*--------------------------------------------------------------
# Got Grid?
--------------------------------------------------------------*/
@supports (grid-area: auto) {
  @media only screen and (min-width: 600px) {
    .nav-container ul {
      display: grid;
      grid-template-columns: 100px 100px;
      grid-gap: 16px;
    }

    .thumbnail {
      width: 100px;
      height: 100px;
      margin: 0;
    }
  }

  @media only screen and (min-width: 900px) {
    .nav-container ul {
      display: grid;
      grid-template-columns: 100px 100px;
      grid-gap: 16px;
    }

    .thumbnail {
      width: 100px;
      height: 100px;
      margin: 0;
    }
  }
}
