.home-content {
  padding: 3em;
}

.home-nav-section ul {
  display: flex;
  margin: 0;
  list-style-type: none;
}

.home-thumbnail {
  transition: all 0.2s ease-in-out;
  width: 100px;
  height: 100px;
}
