.nav-container {
  position: fixed;
  width: 375px;
  height: 100vh;
  padding: 1em;
  background: #fafaf8;
  /*reate inner shadow  https://css-tricks.com/forums/topic/css-box-shadow-inner-shadow-on-the-right/*/
  box-shadow: inset -10px 0 5px -6px hsla(0, 0%, 0%, 0.07);
}

.nav-section {
  margin: 1em 0;
}

.nav-title {
  margin-bottom: 0;
  padding-bottom: 0.5em;
}

.nav-container ul {
  list-style-type: none;
  margin-left: 0;
  display: flex;
}

.nav-container ul li {
  width: 100px;
  height: 100px;
  margin: 0 1rem 1rem 0;
  transition: all 0.2s ease-in-out;
}

.nav-container ul li:hover,
.nav-container ul li:focus,
.nav-container ul li:active {
  transform: scale(1.1);
}

.nav-container ul li img {
  border: 1px solid #eee;
}

.me {
  display: flex;
  border-bottom: 1px solid #eee;
}

.portrait-container {
  width: 50px;
  margin-right: 0.75rem;
}

.title {
  margin-bottom: 0;
}

.title-desc {
  margin-bottom: 1em;
}
